.grid {
  margin: 25px 0 0;
  /* position: absolute; */
}

/* .pressed {
  border-color: green;
} */

.firstBar {
  display: grid;
  grid-template-columns: 20vw 15vw 30vw 15vw 20vw;
  grid-template-rows: 100px;
  grid-auto-flow: row;
  border: 2px solid black;
  background-color: greenyellow;
}

/* Styling Message Box at center of screen */
.messageBox {
  background-color: rgb(255, 255, 255);
  font-size: 17px;
  text-align: center;
  vertical-align: middle;
}
/* Tried adding border using border image repeat */
.messageBox {
  border: 20px solid white;
  border-image-source: url(lightbulb.png);
  border-image-slice: 33 33;
  border-image-repeat: round;
}

.topButtons {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  width: 350px;
  transition: all 0.25s;
  cursor: pointer;
  margin: 25px;
}

/* Overwrite common button styles */
.algorithmButton {
  width: 18vw;
}

/* Add custom Animation */
.algorithmButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.25s;
}
.algorithmButton span:after {
  font-family: "Material Icons";
  content: "send";
  /* content: "\2660"; */
  position: absolute;
  opacity: 0;
  top: 0;
  right: -5px;
  transition: 0.25s;
}
.algorithmButton:hover span {
  padding-right: 35px;
}
.algorithmButton:hover span:after {
  opacity: 1;
  right: 0;
}

/* Overwrite common button styles */
.resetButton {
  width: 13vw;
}

/* Add custom Animation */
.resetButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.25s;
}
.resetButton span:after {
  font-family: "Material Icons";
  content: "clear";
  /* content: "\2660"; */
  position: absolute;
  opacity: 0;
  top: 0;
  right: -5px;
  transition: 0.25s;
}
.resetButton:hover span {
  padding-right: 35px;
}
.resetButton:hover span:after {
  opacity: 1;
  right: 0;
}

/* Overwrite common button styles */
.moveStartButton {
  width: 13vw;
}

/* Add custom Animation */
.moveStartButton:hover {
  background-color: green;
}

.moveStartButton:active {
  background-color: green;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.moveStartButton.topButtons.pressed {
  background-color: green;
}

/* Overwrite common button styles */
.moveFinishButton {
  width: 13vw;
}

/* Add custom Animation */
.moveFinishButton:hover {
  background-color: red;
}

.moveFinishButton:active {
  background-color: red;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.moveFinishButton.topButtons.pressed {
  background-color: red;
}

/* Styling the sliders */
input[type="range"] {
  /* background-color: yellow; */
  height: 12px;
  -webkit-appearance: none;
  margin: auto 0;
  padding-top: 20px;
  width: 20vw;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  /* animate: 0.2s; */
  box-shadow: 1px 1px 1px rgb(114, 190, 248);
  background: rgb(114, 190, 248);
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 40px;
  border-radius: 12px;
  background: #529de1;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: rgb(114, 190, 248);
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px rgb(114, 190, 248);
  background: rgb(114, 190, 248);
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 40px;
  border-radius: 12px;
  background: #f4511e;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: rgb(114, 190, 248);
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 1px 1px 1px rgb(114, 190, 248);
}
input[type="range"]::-ms-fill-upper {
  background: rgb(114, 190, 248);
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 1px 1px 1px rgb(114, 190, 248);
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 40px;
  border-radius: 12px;
  background: #f4511e;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: rgb(114, 190, 248);
}
input[type="range"]:focus::-ms-fill-upper {
  background: rgb(114, 190, 248);
}

#numRows {
  /* background-color: #f4511e; */
  font-size: 20px;
  padding-right: 20px;
}

#numCols {
  /* background-color: #f4511e; */
  font-size: 20px;
  padding-right: 20px;
  padding-left: 40vw;
}
